* {
    box-sizing: border-box;
}

.container {
    padding:10px;
    text-align: center;
}

.form-container {
    padding:6px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: Azure;
    width: 60%;
}

.button-container {
    padding:6px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.login-row{
    display:block;
    margin-top: 12px;
    margin-bottom: 2px;
    text-align: center;
}

.form-row{
    display:block;
    margin-top: 6px;
    margin-bottom: 1px;
    text-align: center;
    height: 30px;
}

/* Style the header */
header {
    background-color: MidnightBlue;
    text-align: left;
    font-size: 16px;
    color: white;
    position:fixed;
    left:0;
    top:0;
    height:60px;
    width:100%;
}

/* Style the footer */
footer {
    background-color: MidnightBlue;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    height:48px;
    width:100%;
}

a {
    text-decoration:none;
    color:white
}

ul {
    list-style-type: none;
    margin: 8px;
    padding: 0px;
    overflow: hidden;
    background-color: MidnightBlue;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 14px 10px;
    min-width: 90px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: RoyalBlue;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: PowderBlue;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 14px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: Azure;}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn-group .button {
    background-color: MidnightBlue; /* Dark Blue */
    border: 1px solid MidnightBlue;
    color: white;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 95%;
    display: block;
    border-radius: 8px;
}

.btn-group .button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

.btn-group .button:hover {
    background-color: RoyalBlue;
}

button, input[type="submit"] {
    background-color: MidnightBlue;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 300px;
    font-size:18px;
    border-radius: 8px;
}

button:hover, input[type="submit"] {
    background-color: RoyalBlue;
}

.menu {
    float: left;
    width: 23%;
    margin-top: 150px;
    font-size: 24px;

}
.menuitem {
    padding: 8px;
    margin-top: 6px;
    border-bottom: 1px solid #f1f1f1;
}

.main {
    float: left;
    width: 75%;
    padding: 20px;
    overflow: hidden;
    margin-top: 40px;
    font-size: 24px;
}

.index-main {
    float: left;
    width: 100%;
    padding: 20px;
    overflow: hidden;
    margin-top: 40px;
    font-size: 24px;
}

.lng-content{
    margin: 0;
    padding: 8px 0;
    display: block;
    width: 90px;
    position: relative;
    background-color: Azure;
    color: black;
    font-size: 16px;
    border-radius: 0;
}

input[type=text], input[type=password], input[type=date] {
    width: 300px;
    padding: 12px 20px;
    margin: 2px 0 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: left;
}

#language-change {
    margin: 0;
    padding: 8px 0;
    display: block;
    width: 90px;
    position: relative;
}

#logout {
    margin: 0;
    padding: 8px 0;
    display: block;
    width: 90px;
    position: relative;
}

#logo {
    margin: 3px;
    padding: 8px 0;
    display: flex;
    width: 180px;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    align-items: center;
    justify-content: center;
    text-indent:8px;
    background-color: MidnightBlue;
}

@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
        width: 75%;
        padding: 0;
    }
}
@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
        width: 100%;
    }
}
